body {


    font-family: 'Overpass', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    color: hsl(0, 0%, 100%);
    background-color: hsl(228, 11%, 9%);
    margin: 0;
}

html {

    font-size: 15px;
}



p {

    color: hsl(217, 12%, 63%);
    line-height: 23px;
    
    
}

#second-state {


    text-align: center;
    display: none;



}

.container {

    height: 100vh;
    display: flex;
    align-items: center;

}



.app-container {
    width: 20rem;
    height: 22rem;
    margin: 0 auto;
    background-color: hsl(215, 26%, 13%); 
    border-radius: 5%;
    padding: 1.6rem;

}

#first-state {



}







#star-img {

    border-radius: 50%;
    background-color: #252d37;
    padding: 10px;

}

.ratings {

    display: flex;
    justify-content: space-between;
}

.ratings-child {

    border-radius: 50%;
    background-color: #252d37;
    padding: 10px 17px;
    color: hsl(217, 12%, 63%);
    margin-top: .75rem;


}

.ratings-child:hover {


    background-color:hsl(217, 12%, 63%);    
    color: white;
    cursor: pointer;
}

.click-child {

    background-color:hsl(25, 97%, 53%);
    color: white;
}



button {

    width: 100%;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
    border-style: none;
    height: 3rem;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 2rem;
}

button:hover {

    background-color: white;
    color:hsl(25, 97%, 53%);
}

.rating-container {

    color: #fb7413;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 2rem;
  background-color: #252d37;
  font-weight: 500;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}


#ty {

    margin-top: 2rem;
}

